/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;
}
.wrap {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.1;
    letter-spacing: -2.5px;
    max-width: 600px;
    margin-bottom: 65px;
}
.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 305px;
}
.logo {
    width: 181px;
    height: 49px;
    background-image: url(../img/header-logo.png);
    display: block;
}
.nav {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    letter-spacing: 2.4px;
    display: flex;
}
.nav>li {
    padding: 0 20px;
}
.nav-item {
    color: #6e7ea9;
    letter-spacing: 2px;

}
.screen-img {
    display: block;
    background-image: url(../img/header-screen.png);
    background-repeat: no-repeat;
    width: 895px;
    height: 740px;
    position: absolute;
    right: 0;
    top: 189px;
}
.btn-primary {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #1085e4;
    border: 1px solid #1085e4;
    color: #fff;
    padding: 20px 40px;
    border-radius: 30px;
    letter-spacing: 2.5px;
    transition: 0.5s;
}
.btn-primary:hover {
    color:#1085e4;
    background-color: transparent;
}   
.btn-secondary {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #cbdbe8;
    border: 1px solid #cbdbe8;
    color: #7e8bae;
    padding: 20px 40px;
    border-radius: 30px;
    letter-spacing: 2.5px;
    transition: 0.5s;
}
.btn-secondary:hover {
    background-color: transparent;
}
.btn-free {
    font-weight: 400;
    padding: 21px 56px;
    letter-spacing: 1.7px;
}
.btn-info {
    color: #8085b1;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    background-color: transparent;
    border: 1px solid #dce1e5;
    padding: 20px 40px;
    border-radius: 30px;
    transition: 0.5s;
}
.btn-info:hover {
    background-color: #94b4cc;
    border: 1px solid #94b4cc;
    color : #fff;
}
.btn-group a + a  {
    margin-left: 15px;
}
.list-company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.company-one {
    flex-basis: 25%;
}
.company-two {
    flex-basis: 25%;
}
.company-three {
    flex-basis: 25%;
}
.company-four {
    flex-basis: 25%;
}
.list-company-item  span {
    display: block;
}
.company-one span {
    background-image: url(../img/company-1.png);
    width: 198px;
    height: 58px;
}
.company-two span {
    background-image: url(../img/company-2.png);
    width: 200px;
    height: 69px;
}
.company-three span {
    background-image: url(../img/company-3.png);
    width: 201px;
    height: 47px;
}
.company-four span {
    background-image: url(../img/company-4.png);
    width: 200px;
    height: 69px;
}
.grid-item {
    text-align: center;
    box-shadow: 0px 8px 16px rgba(180,181,181,0.2);
    border-radius: 10px;
    padding: 40px 29px 64px;
}
.grid {
    display: grid;
    grid-template-areas: "a b c"
                         "d b c" 
                         "d f g"
                         "e f g"
                         "e h h";
    max-width: 1110px;
    grid-gap: 35px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    padding: 103px 15px 117px;
}
.grid-title {
    grid-area: a;
}
.grid-item-1 {
    grid-area: b;
}
.grid-item-2 {
    grid-area: c;
}
.grid-item-3 {
    grid-area: d;
}
.grid-item-4 {
    grid-area: e;
}
.grid-item-5 {
    grid-area: f;
}
.grid-item-6 {
    grid-area: g;
}
.grid-text {
    grid-area: h;
}
.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -1.2px;
}
.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    font-weight: 800;
    letter-spacing: 2.8px;
    display: block;
    text-transform: uppercase;
}
.grid-icon {
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    height: 92px;
    margin: 0 auto 21px;
}
.grid-icon-1 {
    background-image: url(../img/icon1.png);
    background-size: 73px 79px;
}
.grid-icon-2 {
    background-image: url(../img/icon2.png);
    background-size: 89px 85px;
}
.grid-icon-3 {
    background-image: url(../img/icon3.png);
    background-size: 79px 82px;
}
.grid-icon-4 {
    background-image: url(../img/icon4.png);
    background-size: 102px 92px;
}
.grid-icon-5 {
    background-image: url(../img/icon5.png);
    background-size: 85px 90px;
}
.grid-icon-6 {
    background-image: url(../img/icon6.png);
    background-size: 100px 87px;
}
.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
    margin-bottom: 20px;
}
.grid-item p {
    max-width: 270px;
    margin-bottom: 43px;
}
.grid-item a {
    color: #1085e4;
    font-size: 14px;
    font-weight: 600;
}
.grid-text :first-child {
    margin-bottom: 13px;
}
.grid-author {
    font-size: 14px;
    color: #1085e4;
}
.grid-author span {
   font-size: 16px;
   font-weight: 700;
   color: #192b59;
}
.box-subscribe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.box-subscribe h2 {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 44px;
    letter-spacing: -1.5px;
}
.box-subscribe h2 span {
    font-size: 14px;
    font-weight: 800;
    color: #00bffe;
    display: block;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 2.7px;
}
.box-subscribe p {
    font-size: 18px;
    line-height: 28px;
    color: #a7b6e4;
    margin-bottom: 36px;
    max-width: 405px;
}
.subscribe-box {
    width: 540px;
    height: 70px;
    border: 2px solid #4673c1;
    border-radius: 35px;
    padding-left: 37px;
    padding-right: 6px;
}
.subscribe-box input {
    font-size: 14px;
    width: 168px;
    margin-right: 129px;
    color: #90a6dd;
    background-color: transparent;
}
.subscribe-box input::-webkit-placeholder {color: #90a6dd;}
.subscribe-box input::-moz-placeholder {color: #90a6dd;}
.subscribe-box input:-moz-placeholder {color: #90a6dd;}
.subscribe-box input:-ms-placeholder {color: #90a6dd;}

.btn-subscribe {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: #1085e4;
    text-transform: uppercase;
    padding: 15px 44px;
    margin-top: 7px;
    border: 1px solid #1085e4;
    border-radius: 30px;
    letter-spacing: 2.9px;
    transition: 0.5s;
}
.btn-subscribe:hover {
    background-color: transparent;
}
.subscribe img {
    display: block;
    width: 354px;
    height: 417px;
    right: 0;
    top: 53px;
}
.softwere-screen{
    display: block;
    background-image: url(../img/softwere-screen.png);
    background-repeat: no-repeat;
    width: 1465px;
    height: 1440px;
    position: absolute;
    left: -541px;
    top: 66px;
}
.page-softwere-flex {
    display: flex;
    justify-content: flex-end;
    padding: 109px 0 156px;
}
.page-softwere-flex>div {
    flex-basis: 55%;
}

.page-softwere-icon {
    display: block;
    background-image: url(../img/softwere-icon.png);
    background-repeat: no-repeat;
    width: 115px;
    height: 97px;
    margin-left: -25px;
}
.page-softwere h2 {
    max-width: 564px;
    margin-top: 10px;
    margin-bottom: 26px;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -1.5px;
    color: #192b59;
}
.page-softwere-list {
    margin-top: 30px;
    height: 340px;
    overflow: auto;
}
.page-softwere-list::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.page-softwere-list::-webkit-scrollbar-track-piece{
    background-color: #f3f6ff;
}
.page-softwere-list::-webkit-scrollbar-thumb {
    height: 20px;
    background-color: #1085e4;
    border-radius: 10px;
}
.page-softwere dl dt {
    font-weight: 700;
    color: #5a6789;
    margin-bottom: 10px;
}
.page-softwere dl dd {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 50px;
}
.page-stat h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1.5px;
    color: #192b59;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;;
}
.page-stat h2 span {
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 3.0px;
    color: #1085e4;
    text-transform: uppercase;
    display: block;
    margin-bottom: 14px;
}
.stat {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 76px;
}
.stat>li {
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.7px;
}
.stat>li>span {
    font-size: 60px;
    color: #bacbdc;
    display: block;
    margin-bottom: 23px;
    letter-spacing: 0;
}
.intro {
    opacity: 0.04;
    font-size: 300px;
    font-weight: 800;
    letter-spacing: -9px;
    line-height: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    text-align: center;
    margin: 0 auto;
}
.app {
    max-width: 55%;
}
.app h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color: #192b59;
    margin-bottom: 36px;
}
.app h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 3.2px;
    color: #c4d2dd;
    text-transform: uppercase;
    margin-top: 10px;
}
.page-app-list {
    margin-left: -15px;
}
.page-app-list>li {
    display: inline-block;

}
.page-app-list>li>a {
    background-image: url(../img/app.png);
    background-repeat: no-repeat;
    display: block;
    width: 185px;
    height: 77px;
}
.page-app-list>li>a.page-app-android {
    background-position: 0 0;
}
.page-app-list>li>a.page-app-ios {
    background-position: -191px 0;
}
.video-app {
    position: absolute;
    top: -61px;
    right: -172px;
}
.flex-analytics {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-analytics>div {
    flex-basis: 53%;
}
.analytics-description h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color: #192b59;
    letter-spacing: -1.5px;
    margin-bottom: 26px;
}
.analytics-description p {
    margin-bottom: 20px;
}
.analytics-description .btn-primary {
    padding: 20px 40px;
}
.analytics-description a {
    font-size: 12px;
    font-weight: 700;
    line-height: 90px;
    text-transform: uppercase;
    color: #fff;
    background-color: #1085e4;
}
.flex-analytics2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-analytics2>div {
    flex-basis: 54%;
}
.analytics-description2 h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color: #192b59;
    letter-spacing: -1.5px;
    margin-bottom: 26px;
}
.analytics-description2 p {
    margin-bottom: 20px;
}
.analytics-description2 a {
    font-size: 12px;
    font-weight: 700;
    line-height: 90px;
    text-transform: uppercase;
    color: #fff;
    background-color: #1085e4;
}
.page-screen h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    color: #192b59;
    text-align: center;
    letter-spacing: -1.1px;
}
.page-screen h2 span {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    color: #1085e4;
    display: block;
    letter-spacing: 3.6px;
}
.screen {
    margin-top: 70px;
    max-width: 1288px;
    width: 100%;
}
.page-clients h2 {
    color: #ffffff;
    font-size: 40px;
    letter-spacing: -1.2px;
    margin-bottom: 73px;
}
.page-clients h2 span {
    color: #85c8ff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    display: block;
    margin-bottom: 27px;
}
.box-clients {
    display: flex;
    justify-content: space-between;
}
.box-clients-item {
    background-color: #fff;
    padding: 31px 62px 40px 40px;
    border-radius: 10px;
    box-shadow: 0 16px 32px rgba(185, 185, 185, 0.2);
    flex-basis: 31.5%;
    font-size: 14px;
}
.box-clients-item>p {
    margin-bottom: 27px;
    line-height: 24px;
}
.box-clients-item .name {
    font-size: 22px;
    color: #000958;
    letter-spacing: -0.66px;
    font-weight: 600;
}
.box-clients-item .position {
    color: #1085e4;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.8px;
}
.box-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.box-info>div {
    padding-left: 19px;
}
.plans-title {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
    text-align: center;
    letter-spacing: -1.3px;
    margin-bottom: 93px;
}
.plans-title span {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    color: #1085e4;
    display: block;
    margin-bottom: 28px;
}
.box-price {
    display: flex;
    justify-content: space-between;
}
.box-price-item {
    background-color: #edf4fb;
    background-image: url(../img/bg-plan.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 623px;
    color: #000958;
    flex-basis: 32%;
}
.box-price-item ul {
    font-size: 14px;
    line-height: 40px;
    color: #8085b1;
}
.box-price-item.active ul {
    font-size: 14px;
    line-height: 40px;
    color:#fff;
}
.box-price-item.active {
    background-color: #192b59;
    background-image: none;
    color: #fff;
}
.box-price-item h3 {
    font-size: 70px;
    font-weight: 700;
    letter-spacing: -2.5px;
    line-height: 40px;
    margin-bottom: 70px;
    height: 40px;
    padding-top: 82px;
}
.box-price-item h3 span {
    font-size: 20px;
}
.box-price-item h3 span + span {
    color: #7b8ab2;
}
.box-price-item p strong {
    font-size: 14px;
    text-transform: uppercase;
    color: #0084ff;
    letter-spacing: 2.5px;
}
.box-price-item p {
    margin-bottom: 29px;
}
.box-price-item ul {
    margin-bottom: 54px;
}
.box-price-item .btn-info, .btn-primary {
    padding: 20px 62px;
}
.page-team h2 {
    font-size: 40px;
    letter-spacing: -1.2px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 148px;
}
.page-team h2 span {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    color: #85c8ff;
    letter-spacing: 3.6px;
    display: block;
    margin-bottom: 28px;
}
.box-team {
    display: flex;
    justify-content: space-between;
}
.box-team-item {
    background-color: #fff;
    flex-basis: 31.5%;
    box-shadow: 0 8px 30px rgba(156, 156, 156, 0.1);
    position: relative;
    padding: 207px 55px 38px;
}
.box-team-item .avatar {
    position: absolute;
    top: -86px;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.box-team-item .position {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2.8px;
    color: #1a88e1;
    margin-bottom: 7px;
}
.box-team-item .name {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: -0.78px;
    color: #192b59;
    margin-bottom: 28px;
}
.box-team-item .btn-team {
    background-color: #f3f3f3;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: flex;
}
.box-team-item .btn-team:hover {
    background-color: #1a88e1;
}
.box-team-item .btn-team span {
    display: block;
    background-image: url(../img/btn-team.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    align-self: center;
}
.box-team-item .btn-more span {
    background-position: -8px -8px;
    width: 20px;
    height: 20px;
}
.box-team-item .btn-more:hover span {
    background-position: -8px -39px;
}
.social-team {
    display: flex;
    justify-content: space-between;
}
.box-team-item .btn-fb span {
    background-position: -47px -9px;
    width: 8px;
    height: 15px;
}
.box-team-item .btn-fb:hover span {
    background-position: -47px -40px;
}
.box-team-item .btn-tw span {
    background-position: -76px -12px;
    width: 15px;
    height: 12px;
}
.box-team-item .btn-tw:hover span {
    background-position: -76px -43px;
}
.box-team-item .btn-be span {
    background-position: -111px -12px;
    width: 17px;
    height: 11px;
}
.box-team-item .btn-be:hover span {
    background-position: -111px -43px;
}
.box-team-item .btn-web span {
    background-position: -144px -10px;
    width: 15px;
    height: 14px;
}
.box-team-item .btn-web:hover span {
    background-position: -144px -41px;
}
.object-circle {
    display: block;
    width: 663px;
    height: 663px;
    position: absolute;
    left: 0;
    bottom: -363px;
    background-image: url(../img/circle-gray.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.objeck-rhombus {
    background-image: url(../img/rhombus-gray.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 601px;
    height: 672px;
    position: absolute;
    right: 0;
    top: -198px;
}
.page-form h2 {
    color: #192b59;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -1.5px;
    margin-bottom: 45px;
}
.contact-form {
    display: flex;
    flex-direction: column;
}
.contact-form input, .contact-form textarea {
    font-size: 14px;
    border: 2px solid rgba(72, 72, 72, 0.1);
    border-radius: 35px;
    padding: 26px 80px 26px 37px ;
    width: 100%;
}
.contact-form textarea {
    min-height: 161px;
    resize: none;
}

.contact-form input::-webkit-placeholder, .contact-form textarea::-webkit-placeholder  {color: #8995b3;}
.contact-form input::-moz-placeholder, .contact-form textarea::-moz-placeholder {color: #8995b3;}
.contact-form input:-moz-placeholder, .contact-form textarea:-moz-placeholder {color: #8995b3;}
.contact-form input:-ms-placeholder, .contact-form textarea:-ms-placeholder {color: #8995b3;}



.contact-form .btn-primary {
    position: relative;
    padding: 22px 40px 22px 65px;
    max-width: 230px ;
    letter-spacing: 2px;
}
.contact-form .btn-primary::after {
    content: "";
    background-image: url(../img/btn-plane.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: 54px;
    top: calc(50% - 6px);
    width: 13px;
    height: 13px;
}
.contact-form .btn-primary:hover {
    color: #fff;
    background-color: #192b59;
}

.contact-form-item {
    margin-bottom: 20px;
    position: relative;
}
.contact-form-text {
    margin-bottom: 32px;
}
.contact-form-item::after {
    content: "";
    display: block;
    position: absolute;
    right: 42px;
}
.contact-form-name::after {
    background-image: url(../img/icon-name.png);
    width: 13px;
    height: 15px;
    top: calc(50% - 7px);
}
.contact-form-mail::after {
    background-image: url(../img/icon-mail.png);
    width: 14px;
    height: 11px;
    top: calc(50% - 5px);
}
.contact-form-text::after {
    background-image: url(../img/icon-text.png);
    width: 14px;
    height: 15px;
    top: 29px;
}
.flex-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}
.flex-form img {
    margin-right: 60px;
}
.flex-form>div {
    flex-basis: 46%;
}
.footer p a {
    color: #1085e4;
    text-transform: uppercase;
}
.footer-flex {
    display: flex;
    justify-content: space-between;
}
.social {
    display: flex;
    justify-content: space-between;
    flex-basis: 16%;
    align-items: center;
}
.social-link {
    display: block;
    background-image: url(../img/footer-icons.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.fb-link {
    background-position: 0 0;
}
.tw-link {
    background-position: -31px 0;
}
.be-link {
    background-position: -74px 0;
}
.pi-link {
    background-position: -115px 0;
}
.f-link {
    background-position: -152px 0;
}

/* PAGE */

.page-header {
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 53px 0 330px 0;
    position: relative;
}
.page-company {
    background-image: url(../img/bg-company.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 106px 0 99px 0;
}
.page-stat {
    background-color: #edf6ff;
    padding: 116px 0 96px;
    position: relative;
}
.page-screen {
    background-color: #edf6ff;
    padding: 106px 0 0 0;
    text-align: center;
    margin-bottom: 120px;
}
.page-subscribe {
    padding-top: 48px;
    padding-bottom: 56px;
    background: rgba(10,32,144,1);
    background: -moz-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10,32,144,1)), color-stop(100%, rgba(35,120,205,1)));
    background: -webkit-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: linear-gradient(135deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 );
}
.page-softwere {
    position: relative;
    overflow: hidden;
}
.page-app {
    padding: 110px 0 82px;
}
.page-app .wrap {
    position: relative;
}
.page-analytics {
    background-image: url(../img/page-analytics-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 124px 0 108px;
}
.page-analytics2 {
    background-image: url(../img/page-analytics-bg2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 124px 0 108px;
}
.page-clients {
    position: relative;
    padding: 73px 0 0;
}
.page-clients::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/clients-bg.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.page-plans {
    text-align: center;
    padding-bottom: 122px;
    padding-top: 112px;
}
.page-team {
    text-align: center;
    background-image: url(../img/team-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 113px 0;
}
.page-form {
    background-image: url(../img/bg-form.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 110px;
    padding-bottom: 113px;
}
.footer {
    background-color: #192b59;
    padding: 22px 0 22px;
}

/* MEDIA */

@media (max-width: 1050px) {
    .page-company {
        padding: 50px 0 20px;
    }
    .list-company-item {
        flex-basis: 50%;
        margin-bottom: 50px;
    }
    .list-company-item span {
        margin: 0 auto;
    }
    .grid {
        grid-template-areas: "a a"
                             "b c" 
                             "d e"
                             "f g"
                             "h h";
        grid-template-columns: 1fr 1fr;
    }
    .grid h2 {
        text-align: center;
    }
    .box-subscribe {
        flex-direction: column-reverse;
    }
    .box-subscribe div {
        flex-basis: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .box-subscribe div p {
        margin: 0 auto 30px;
    }
    .box-subscribe img {
        margin: 0 auto 25px;
        max-width: 170px;
    }

}