/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;
}
.wrap {
    max-width: 1110px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.1;
    letter-spacing: -2.5px;
    max-width: 600px;
    margin-bottom: 65px;
}
.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 305px;  
}
.logo {
    width: 181px;
    height: 49px;
    background-image: url(../img/header-logo.png);
    display: block;
}
.nav {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    letter-spacing: 2.4px;
    display: flex;
}
.nav>li {
    padding: 0 20px;
}
.nav-item {
    color: #6e7ea9;
    letter-spacing: 2px;

}
.screen-img {
    display: block;
    background-image: url(../img/header-screen.png);
    background-repeat: no-repeat;
    width: 895px;
    height: 740px;
    position: absolute;
    right: 0;
    top: 189px;
}
.btn-primary {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #1085e4;
    border: 1px solid #1085e4;
    color: #fff;
    padding: 20px 40px;
    border-radius: 30px;
    letter-spacing: 2.5px;
}
.btn-primary:hover {
    color:#1085e4;
    background-color: transparent;
    transition: 0.5s;
}   
.btn-secondary {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #cbdbe8;
    border: 1px solid #cbdbe8;
    color: #7e8bae;
    padding: 20px 40px;
    border-radius: 30px;
    letter-spacing: 2.5px;
}
.btn-secondary:hover {
    background-color: transparent;
    transition: 0.5s;
}
.btn-free {
    font-weight: 400;
    padding: 21px 56px;
    letter-spacing: 1.7px;
}
.btn-info {
    color: #8085b1;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    background-color: transparent;
    border: 1px solid #dce1e5;
    padding: 20px 40px;
    border-radius: 30px;
}
.btn-info:hover {
    background-color: #94b4cc;
    border: 1px solid #94b4cc;
    color : #fff;
    transition: 0.5s;
}
.btn-group a + a  {
    margin-left: 15px;
}
.list-company {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    margin: 0 auto;
}
.list-company-item {
    display: block;
}
.company-one {
    background-image: url(../img/company-1.png);
    flex-basis: 198px;
    height: 58px;
}
.company-two {
    background-image: url(../img/company-2.png);
    flex-basis: 200px;
    height: 69px;
}
.company-three {
    background-image: url(../img/company-3.png);
    flex-basis: 201px;
    height: 47px;
}
.company-four {
    background-image: url(../img/company-4.png);
    flex-basis: 200px;
    height: 69px;
}
.grid-item {
    text-align: center;
    box-shadow: 0px 8px 16px rgba(180,181,181,0.2);
    border-radius: 10px;
    width: 350px;
    margin-left: 33px;
    padding-bottom: 70px;
}
.grid {
    display: grid;
    grid-template-areas: "a b c"
                         "d b c" 
                         "d f g"
                         "e f g"
                         "e h h";
    max-width: 1110px;
    margin: 0 auto;   
    justify-content: space-between; 
    padding-top: 103px;                 
}
.grid-title {
    grid-area: a;
    margin-bottom: 48px;
}
.grid-item-1 {
    grid-area: b;
    padding-top: 78px;
}
.grid-item-2 {
    grid-area: c;
    padding-top: 63px;
}
.grid-item-3 {
    grid-area: d;
    padding-top: 50px;
    margin: 0;
}
.grid-item-4 {
    grid-area: e;
    margin: 0;
}
.grid-item-5 {
    grid-area: f;
}
.grid-item-6 {
    grid-area: g;
}
.grid-text {
    grid-area: h;
}
.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -1.2px;
    max-width: 260px;
}
.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    font-weight: 800;
    letter-spacing: 2.8px;
    display: block;
    text-transform: uppercase;
}
.grid-icon {
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
}
.grid-icon-1 {
    background-image: url(../img/icon1.png);
    width: 73px;
    height: 79px;
    margin-bottom: 26px;

}
.grid-icon-2 {
    background-image: url(../img/icon2.png);
    width: 89px;
    height: 85px;
    margin-bottom: 35px;
}
.grid-icon-3 {
    background-image: url(../img/icon3.png);
    width: 79px;
    height: 82px;
    margin-bottom: 35px;
}
.grid-icon-4 {
    background-image: url(../img/icon4.png);
    width: 102px;
    height: 92px;
}
.grid-icon-5 {
    background-image: url(../img/icon5.png);
    width: 85px;
    height: 90px;
}
.grid-icon-6 {
    background-image: url(../img/icon6.png);
    width: 100px;
    height: 87px;
}
.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
    margin-bottom: 20px;
}
.grid-item p {
    max-width: 270px;
    margin: 0 auto 43px;
}
.grid-item a {
    color: #1085e4;
    font-size: 14px;
    font-weight: 600;
}
.grid-author {
    font-size: 14px;
    color: #1085e4;
}
.grid-author span {
   font-size: 16px;
   font-weight: 700;
   color: #192b59;
}
.subscribe{
    padding: 114px 0 121px;
    position: relative;

}
.subscribe h2 {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 44px;
    letter-spacing: -1.5px;
}
.subscribe h2 span {
    font-size: 14px;
    font-weight: 800;
    color: #00bffe;
    display: block;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 2.7px;
}
.subscribe p {
    font-size: 18px;
    line-height: 28px;
    color: #a7b6e4;
    margin-bottom: 36px;
    max-width: 405px;
}
.subscribe-box {
    width: 540px;
    height: 70px;
    border: 2px solid #4673c1;
    border-radius: 35px;
    padding-left: 37px;
}
.subscribe-box input {
    font-size: 14px;
    margin-right: 135px;
    color: #90a6dd;
    background-color: transparent;
}
input::placeholder {
    color: #90a6dd;
}
.btn-subscribe {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: #1085e4;
    text-transform: uppercase;
    padding: 15px 44px;
    margin-top: 7px;
    border: 1px solid #1085e4;
    border-radius: 30px;
    letter-spacing: 2.9px;
}
.btn-subscribe:hover {
    background-color: transparent;
    transition: 1s;
}
.subscribe img {
    display: block;
    width: 354px;
    height: 417px;
    position: absolute;
    right: 0;
    top: 53px;
}
.page-softwere h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color: #192b59;
}
.page-softwere dl dt {
    font-weight: 700;
    color: #5a6789;
}
.page-softwere dl dd {
    font-size: 14px;
    line-height: 24px;
}
.page-stat h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1.5px;
    color: #192b59;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;;
}
.page-stat h2 span {
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 3.0px;
    color: #1085e4;
    text-transform: uppercase;
    display: block;
    margin-bottom: 14px;
}
.stat {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 76px;
}
.stat>li {
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.7px;
}
.stat>li>span {
    font-size: 60px;
    color: #bacbdc;
    display: block;
    margin-bottom: 23px;
    letter-spacing: 0;
}
.app h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color: #192b59;
}
.app h3 {
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
}
.analytics-description h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color: #192b59;
}
.analytics-description a {
    font-size: 12px;
    font-weight: 700;
    line-height: 90px;
    text-transform: uppercase;
    color: #fff;
    background-color: #1085e4;
}
.analytics-description2 h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color: #192b59;
}
.analytics-description2 a {
    font-size: 12px;
    font-weight: 700;
    line-height: 90px;
    text-transform: uppercase;
    color: #fff;
    background-color: #1085e4;
}
.page-screen h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    color: #192b59;
    text-align: center;
    letter-spacing: -1.1px;
}
.page-screen h2 span {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    color: #1085e4;
    display: block;
    letter-spacing: 3.6px;
}
.screen {
    margin-top: 70px;
}
.plans-title {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
    text-align: center;
    letter-spacing: -1.3px;
    margin-bottom: 93px;
}
.plans-title span {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    color: #1085e4;
    display: block;
    margin-bottom: 28px;
}
.box-price {
    display: flex;
    justify-content: space-between;
}
.box-price-item {
    background-color: #edf4fb;
    background-image: url(../img/bg-plan.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 623px;
    color: #000958;
    flex-basis: 32%;
}
.box-price-item ul {
    font-size: 14px;
    line-height: 40px;
    color: #8085b1;
}
.box-price-item.active ul {
    font-size: 14px;
    line-height: 40px;
    color:#fff;
}
.box-price-item.active {
    background-color: #192b59;
    background-image: none;
    color: #fff;
}
.box-price-item h3 {
    font-size: 70px;
    font-weight: 700;
    letter-spacing: -2.5px;
    line-height: 40px;
    margin-bottom: 70px;
    height: 40px;
    padding-top: 82px;
}
.box-price-item h3 span {
    font-size: 20px;
}
.box-price-item h3 span + span {
    color: #7b8ab2;
}
.box-price-item p strong {
    font-size: 14px;
    text-transform: uppercase;
    color: #0084ff;
    letter-spacing: 2.5px;
}
.box-price-item p {
    margin-bottom: 29px;
}
.box-price-item ul {
    margin-bottom: 54px;
}
.box-price-item .btn-info, .btn-primary {
    padding: 20px 62px;
}



/* PAGE */

.page-header {
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 53px 0 330px 0;
    position: relative;
}
.page-company {
    background-image: url(../img/bg-company.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 106px 0 99px 0;
}
.page-stat {
    background-color: #edf6ff;
    padding: 116px 0 96px;
}
.page-screen {
    background-color: #edf6ff;
    padding: 106px 0 0 0;
    text-align: center;
}
.page-subscribe {
    background: rgba(10,32,144,1);
    background: -moz-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10,32,144,1)), color-stop(100%, rgba(35,120,205,1)));
    background: -webkit-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    background: linear-gradient(135deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 );
}
.page-plans {
    text-align: center;
    padding-bottom: 122px;
}